/*
Colors:
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
}

nav{
	background-color: #E54E79;
}
a {
  color: #373B47;
  text-decoration: none;
  display:inline-block;
}

a:hover {
  color: #E95853;
}
.brand-logo img{
	width: 60px;
	margin-top: 10px;
}
.principal{
	height: 100vh;
	background-image: url(https://i.ytimg.com/vi/C2GbBNpqjVI/maxresdefault.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	position: relative;
}
.principal .caja-blanca{
	background-color: rgba(237,233,226,1);
	position: absolute;
	right: 0;
	top: 16%;
	box-sizing: border-box;
	padding: 40px 60px 50px 40px;
}

.principal .caja-blanca h2{
	text-transform: uppercase;
	font-weight: bold;
	color: #00B2A9;;
	font-size: 1.8em;
}

.principal .caja-blanca h3{
	text-transform: uppercase;
	font-weight: 300;
	color: #75726C;
	font-size: 1em;
}

.principal .caja-blanca .btn-big{
	border-radius: 15px;
	background-color: #E56385;
	height: 45px;
	line-height: 45px;
}

.juego{
	background-color: #00B2A9;
	padding: 40px 0;
}

#tablero{
	position: relative;
	height: auto;
	background-color: #EDE9E2;
	padding: 40px;
}
#formulario{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}
button.block{
	display: block;
	border-radius: 15px;
	margin: 5px 0;
}

.h2-play{
	background-color: #EDE9E2;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #75726C;
	margin-top: 40px;
	margin-bottom: 80px;
}

.level{

}
.level:before, .level:after{
	content: "";
	display: block;
	clear: both;
}
.taxi, .empty, .visitada{
	box-sizing: border-box;
	float: left;
	width: 10%;
	height: 80px;
}
.empty{
	background-color: #75726C;
}

.taxi{
	background-color: #E56385;
	background-image: url(../img/car.png);
	background-size: contain;
	background-position: center 6px ;
	background-repeat: no-repeat;
}

.visitada{
	background-color: #E54E79;
}

.page-footer{
	background-color: #75726C;
}

/*PROPIEDADES MAPA*/
td {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 1px;
	position: relative;
	overflow: visible;
}

table{
  border-spacing: 0px;
	height: auto;
	border: 2px solid black;
	background-image: url(../img/fondo.png);
	background-size: 100%;
	filter: contrast(150%);
}

.pared{
  background-image: url(../img/tnt.png);
   background-size: 100%;
}

.inicio{
	/*background-color: red;*/

}

.final{
	/*background-color: green;*/
}

.blanco{
  background: none;
}

.muerte{
	background-color: black;
}

#img-chuck, #img-nest{
	width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: -18px;
	z-index: 10000;
}

/* Boton level*/
#inputEspacio {
 width: 230px;
	 height: 103px;
	 font-size: 70px;
	 position: relative;
	 left: 185px;
	 text-align: center;
}

#btnLevel {
 width: 100px;
	 height: 46px;
	 position: absolute;
	 font-size: 30px;
	 right: 45px;
}

#btnCancel {
 width: 100px;
	 height: 46px;
	 font-size: 26px;
	 position: absolute;
	 right: 45px;
	 bottom: 40px;
}

#imgAdorno{
 width: 159px;
	 height: 150px;
	 position: absolute;
	 top: 20px;
	 left: 15px;
}
/* Boton instrucciones*/
#instEspacio {
 width: 360px;
	 height: 200px;
	 font-size: 20px;
	 text-align: justify;
}

#imgArrow {
 width: 90px;
	 height: 70px;
	 position: absolute;
	 right: 60px;
	 bottom: 35px;;
}

#imgBirdsChuck {
 width: 120px;
	 height: 145px;
	 position: absolute;
	 right: 65px;
}

#imgArrow:hover {
 width: 95px;
	 height: 75px;
}
